IO_LOC "led" 10;
IO_PORT "led" PULL_MODE=UP DRIVE=8;

IO_LOC "tx" 29;
IO_PORT "tx" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

IO_LOC "rstn" 4;
IO_PORT "rstn" PULL_MODE=UP;

IO_LOC "clock" 52;
IO_PORT "clock" IO_TYPE=LVCMOS33 PULL_MODE=UP;
